
{% extends 'base.html' %} 
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}

<h1>{{user.username}}{{user.id}}</h1>

<form  method="POST" id="add_image" action="" enctype="multipart/form-data">
 <div class="form-group col-md-6">
     <input type="text" list="list" name="q"/>
          <datalist id="list">
         {% for event in events %}
         <option  value="{{ event.event_name }}">
           
         {% endfor %}
      </datalist><br>
        {{ add_image | as_bootstrap }}
    </div>
  {% csrf_token %}   
<div class="form-group col-md-12">
        <input class=" btn btn-primary" id="submit_image_btn" name="commit" type="submit" value="submit_image">
    </div>
</form>
{% endblock %}