{% extends 'base.html' %} 
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}

<h1 class='search-title'>My Images</h1>
<div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">

<table>
    {% for img in my_img %}
    <tr>
        <td><button type='submit'formmethod='POST' name='del' value='{{img.id}}' class="btn btn-primary btn-sm">Delete</button></td>
        <td>{{img.event_name}}</td>
         <td>{{img.user}}</td>
         <td>{{img.price}}</td>
        
        
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}