{% extends 'base.html' %}
 {% block content %}
    <!-- hero image-->
    <div class="row">
      <img src="{{ STATIC_URL }}images/83.jpg" class="img-fluid hero" alt="Responsive image">
      <div class="centered awesome">SHARE MY PICS</div>
    </div>
    <!-- three main content blocks-->
    <div class="row whitebg">
      <div class="col-md-4 blk-1">
        <h1>Attended an event?</h1>
        <ol>
          <li>Search for the event you were at</li>
          <li>Browse fans pictures</li>
          <li>Download a memory</li>
        </ol>
      </div>
      <!-- search for event with dropdown-->
      <div class="col-md-4 blk-2">
        <h1>Find An Event</h1><br>
        <form action="{% url 'search_results' %}" method="get">

          <input type="text" list="list" name="q"/>
          <datalist id="list">
         {% for event in events %}
         <option  value="{{ event.event_name }}">
           
         {% endfor %}
      </datalist><br>
          <input type="submit" value="Go" class="btn btn-success btn-lg go" />
        </form>
      </div>
      <div class="col-md-4 blk-3">
        <h1>Took some great pics</h1>
        <p>Find out how to sell your pictures and make instant cash</p>
       
      </div>
    </div>

 {% endblock %}