{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":11,"column":0},"end":{"row":11,"column":16},"action":"remove","lines":["cloud-init==19.1"],"id":2}],[{"start":{"row":13,"column":0},"end":{"row":13,"column":22},"action":"remove","lines":["command-not-found==0.3"],"id":3}]]},"ace":{"folds":[],"scrolltop":97.5,"scrollleft":0,"selection":{"start":{"row":13,"column":0},"end":{"row":13,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":5,"state":"start","mode":"ace/mode/text"}},"timestamp":1567377522994,"hash":"851eaa2496b040c31bbaff95ee48d0ca4b2102e1"}