{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":2,"column":0},"end":{"row":2,"column":16},"action":"remove","lines":["CodeIntel==0.9.3"],"id":2}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":2,"column":0},"end":{"row":2,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1567376635327,"hash":"4d59338812320b9c6da9e96105220c9832f56fbd"}