{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":10,"column":0},"end":{"row":10,"column":16},"action":"remove","lines":["cloud-init==19.1"],"id":2}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":10,"column":0},"end":{"row":10,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1567376168773,"hash":"ba020fb9c01decd69db23d7947cfbb6287cefdf9"}