body {
    font-family: Arial;
    padding:0;
    margin:0;
    background-color:#232F3E;
   

}

.container-fluid:{
    padding:0;
}

footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}
/*.........................................navigation for home page......................*/
.nav {
    margin-left:90%;
    color:white;
    }

.dropdown-menu{
 margin-right:80px;
}

.dropdown-toggle{
    text-align:right;
}
/*.........................................hero image......................*/


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*.........................................3 sub sections......................*/
.whitebg{
    background-color:white;
    min-height: 200px;
}