body {
    font-family: Arial;
    padding:0;
    margin:0;
    background-color:#232F3E;
   

}

.container-fluid:{
    padding:0;
}

footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}
/*.........................................navigation for home page......................*/
.nav {
    margin-left:90%;
    color:white;
    }

.dropdown-menu{
 margin-right:80px;
}

.dropdown-toggle{
    text-align:right;
    color:#A9A9A9;
}
/*.........................................hero image......................*/


.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color:white;
  font-size: 150px;
}

/*.........................................3 sub sections......................*/
.whitebg{
    margin-top: 50px;
    background-color:white;
    min-height: 300px;
    padding-top: 30px;
}

.blk-1{
    font-size: 30px;

}
.blk2 h1{
text-align:center;
}

.blk3{
    font-size:30px;
}

.go{
    margin-top:10px;
}

/*.........................................footer......................*/

.social {
    display: block;
     margin: auto;
  width: 50%;
  text-align:center;
  padding-bottom: 50px;
  color:#A9A9A9;
}
.footer-copyright{
    color:#A9A9A9;
}

hr{
    color: #A9A9A9;
}

.footer{
    padding-top:50px;
}

i{
    color:#A9A9A9;
}


.awesome {

  font-family: futura;
  font-style: italic;

  width:100%;

  margin: 0 auto;
  text-align: center;

  color:#313131;
  font-size:150px;
  font-weight: bold;
  position: absolute;
  -webkit-animation:colorchange 20s infinite alternate;


}

@-webkit-keyframes colorchange {
  0% {

    color: blue;
  }

  10% {

    color: #8e44ad;
  }

  20% {

    color: #1abc9c;
  }

  30% {

    color: #d35400;
  }

  40% {

    color: blue;
  }

  50% {

    color: #34495e;
  }

  60% {

    color: blue;
  }

  70% {

    color: #2980b9;
  }
  80% {

    color: #f1c40f;
  }

  90% {

    color: #2980b9;
  }

  100% {

    color: pink;
  }
}