/* .................general styling................ */

body {
    font-family: Arial;
    padding:0;
    margin:0;
    background-color:#232F3E;
   

}

.container-fluid:{
    padding:0;
}



.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

input{
      border-radius: 5px
}
/*.........................................navigation for home page......................*/
.nav2 {
    margin-left:90%;
    color:white;
    }

.dropdown-menu{
 margin-right:80px;
}

.dropdown-toggle{
    text-align:right;
    color:#A9A9A9;
}

.cart_text{
    padding-left: 5px;
}
/*.........................................hero image......................*/


.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color:white;
  font-size: 150px;
}

/* not my code */

.awesome {

  font-family: futura;
  font-style: italic;

  width:100%;

  margin: 0 auto;
  text-align: center;

  color:#313131;
  font-size:150px;
  font-weight: bold;
  position: absolute;
  -webkit-animation:colorchange 20s infinite alternate;


}

@-webkit-keyframes colorchange {
  0% {

    color: blue;
  }

  10% {

    color: #8e44ad;
  }

  20% {

    color: #1abc9c;
  }

  30% {

    color: #d35400;
  }

  40% {

    color: blue;
  }

  50% {

    color: #34495e;
  }

  60% {

    color: blue;
  }

  70% {

    color: #2980b9;
  }
  80% {

    color: #f1c40f;
  }

  90% {

    color: #2980b9;
  }

  100% {

    color: pink;
  }
}

/*.........................................3 sub sections......................*/
.whitebg{
    margin-top: 50px;
    background-color:white;
    min-height: 300px;
    padding-top: 30px;
}

.blk-1{
    font-size: 30px;
   

}
.blk-2 {
    margin: auto;
    width:50%;
    text-align:center;

}

.blk-2 h1{
    background-color:yellow;
}

.blk-3{
    font-size:30px;
    text-align:center;
}

.go{
    margin-top:10px;
}

/*.........................................footer......................*/

.social {
    display: block;
     margin: auto;
  width: 50%;
  text-align:center;
  padding-bottom: 50px;
  color:#A9A9A9;
}
.footer-copyright{
    color:#A9A9A9;
}

hr{
    color: #A9A9A9;
}

.footer{
    padding-top:50px;
}

i{
    color:#A9A9A9;
}



/*.........................................search results......................*/
.search-title{
  color:#A9A9A9;
}



.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card{
    border-color: transparent;
    padding: 10px 0px 30px 0px ;
}

.card-body {
    height: 100%;
    border: 1px solid #ddd;
}

.product-description {
    min-height: 40px;
}

.errortxt{
    color:white;
    padding:5px;
}



.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}


/*.........................................cart......................*/
.input-group-addon{
    margin-left: 20px;
}

.checkout{
    
    padding-bottom:20px;
    float: right;
    text-align:right;
  }
.total{
  background-color:grey;
}

.cart_text i{
    padding-right:3px;
}
/*.........................................checkout......................*/
.form-group{
    color:white;
}

.total{
    color:white;
    margin-left:20px;
}

.legend{
    color:white;
}