{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<h1 class='search-title'>Download Images</h1>
 <div class="form-group col-md-6 offset-md-3">
     
<div class= "whitebg pl-4 pt-3">
   

<p class='black'><b>Click on the link then right click on the image and select Save As</b></p>



{% for purchase in purchases%}

{% if purchase.buyer.username == user.username %}

<p><a href="{{MEDIA_URL}}{{purchase.product.image}}">{{purchase.product.image}}</a></p>


 {% endif %}

{% endfor %}
</div>
{% endblock %}