{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<h1 class='search-title'>Cart</h1>
<div class="col-sm-12 whitebg">
<div class="row">
    <div class="col-sm-10 offset-sm-1">
     <table>
    {% for item in cart_items %}
    
   
  <tr>
    <th> {{item.product.event_name}}</th>
    <th> <img src="{{ MEDIA_URL }}{{ item.product.image }}" class="cart_image" alt="..."/></th>
    <th>{{ item.product.name }}</th> 
    <th>{{ item.product.price }}</th>
    <th> <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
         {% csrf_token %}
         <input name="quantity"  type="number" min="0" max="999" class="form-control" value="{{item.quantity}}">
         <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Amend</button>
         </form>
    </th>
  </tr>



    {% endfor %}
    </table>
</div>
</div>
<div class="row row-flex">
    <div class="col-sm-12 checkout">
 
    <p class='total'><b>Total:</b>£{{ total }}</p>
    <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
 </div>
</div>
</div>
{% endblock %}